.logo {
    height: 7rem;
    position: sticky !important;
    align-self: center;
}

@media (max-width: 700px) {
    .logo {
        width: 100%;
    }
}

@media (min-width: 701px) and (max-width: 1023px) {
    .logo {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .logo {
        position: relative;
        width: 100%;
    }
}