.logo {
    position: sticky;
    top: 0;
    margin-bottom: 0.5rem;
}

@media (max-width: 700px) {
    .logo {
        height: 7rem;
        width: 100%;
    }
}

@media (min-width: 701px) and (max-width: 1023px) {
    .logo {
        height: 10rem;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .logo {
        position: relative;
        height: 100%;
        width: 100%;
    }
}