.productHCardContainer {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    flex-direction: column;
}

.button {
    height: 100% !important;
}

.productTitle {
    font-size: var(--product-title) !important;
}