.productHCardContainer {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    border-radius: var(--border-radius);
    background-color: var(--background-paper);
    margin: 0.5rem 0;
    max-height: 10rem;
}