.productHCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--background-paper);
    margin: 0.5rem 0;
    height: 10rem;
    min-width: 50rem;
    width: 100%;
}

.imageAndDetailsContainer {
    display: flex;
    align-items: center;
}