.buttonBackGround {
    background-color: #00ffff00;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.stepperBackgorund {
    background-color: #00ffff00 !important;
}

.dot {
    width: 10px !important;
    height: 10px !important;
}

.dotHidden {
    display: none !important;
}

.dotActive {
    background-color: var(--background-paper) !important;
}