.container {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: fit-content;
}

.priceGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}