.actionsContainer {
    display: flex;
    justify-content: center;
}

.button {
    min-width: 10rem;
    height: 3rem;
    border-radius: var(--border-radius);
}

.formContainer {
    background-color: var(--background-paper);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 1rem;
    height: auto;
    width: 100%
}