.recommended,
.offer,
.priceRatio {
    color: var(--background-paper);
}

.tag {
    padding: 0.2rem 0.8rem;
}

.container {
    display: flex;
    align-items: center;
}

.brandLogo {
    padding: 0 0.5rem;
}