.actionButton {
    min-width: 7.5rem !important;
}

.box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.priceContainer {
    flex-direction: column;
    min-width: 9rem;
}

.priceTag {
    font-weight: 600 !important;
    font-size: xx-large !important;
}